<div id="chat-box" class="content">
  <div class="chat-box">
    <h3 id="room"></h3>
    <div id="avatars" class="avatars">
      <img src="https://graph.facebook.com/jimmytcchao/picture?type=small"/>
      <img src="https://graph.facebook.com/42403930/picture?type=small"/>
      <img src="http://thestart.me/images/avatars/darenb.png"/>
      <img src="https://graph.facebook.com/1105177/picture?type=large"/>
      <div style="clear:both;">&nbsp;</div>
    </div>
    <ul id="chatroom"></ul>
    <input id="say" type="text" placeholder="What do you want to say?"></input>
  </div>
</div>
