<div class="content">
  <div class="chat-box">
    <h3 id="room"></h3>
    <div id="avatars" class="avatars"></div>
    <ul id="chatroom"></ul>
    <input id="say" type="text"></input>
  </div>
</div>
