<div class="content">
  <div class="chat-box">
    <h3>HackNy</h3>
    <div class="avatars">Jimmy, Ray</div>
    <ul id="chatroom">
      <li>A message</li>
      <li>A message</li>
      <li>A message</li>
      <li>A message</li>
      <li>A message</li>
    </ul>
    <input id="say" type="text"></input>
  </div>
</div>
