<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery.js"><script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script>
      $(function(){
        var socket = io.connect("http://miimenu.com");
        socket.on("connection",function(){
          console.log("started");
        });

        socket.on("message",function(){
          addMessage();
        });
      });

      function addMessage(){
        $("#chatroom").append("<li>this is a message</li>")
      }
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
