<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onunload="GUnload()">
 	<div id="header">
		<img src="http://www.overtweb.com/virtualart/images/logo.png" id="logo"/> 
  	</div>
	<div id="wrapper">
   		<div id="map" style="width: 100%; height: 100%; position:absolute; border: 0px solid black">
      		&nbsp;
   		</div>
   		<%- body %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/test/vendor/json2.js"></script>
    <script src="http://timeago.yarp.com/jquery.timeago.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAxEPVsxDdPXi5z1UKylPj9hTNVWxJUXYkPMP7UVW7ct5uypMtxxQ0b6JVZBdcfBtSxSZcoo7pmtMreA" type="text/javascript"></script>
     <script src="/javascripts/maps.js"></script>
  </body>
</html>
