body{
    font-family: "gill sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: normal;
}
a{
  color :#00B7FF;
}

.content{
    height: 325px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat-box{
  zindex:100px;
  position:fixed;
  border-radius: 30px;
  background-color:#EEE;
  top:40px;
  right:5px;
  height:600px;
  width:400px;
}
    #wrapper {
        padding:0px;
    }
    #header {
       margin:0px;
       padding:4px;
       background:url("http://overtweb.com/virtualart/images/gradient.png") repeat-x scroll 0 0 transparent;
	   height:44px;
       position:relative;
       z-index: 100;
       padding: 3px;
    }
    #logo {	
        position:absolute;
        top:0px;
        left:0px;
		height:85px;
        margin:3px 4px;
    }
 #say {
    border: 3px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #444444;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    width: 225px;
    margin: 8px 24px 8px 8px;
    box-shadow: 3px 3px 5px #CCCCCC;
    -moz-box-shadow: 3px 3px 5px #CCCCCC;
    -webkit-box-shadow: 3px 3px 5px #CCCCCC;
 }
 
 ul{
  padding-left:10px;
  }
 ul li {
 	list-style-type: none;
 }
 .chat-box.popup {
    position: relative;
    top: -20px;
}
.chat-box h3 {
    color: #EC644B;
    font-size: 1.4em;
 }
.chat-meta {
	color:#888;
}
.avatars {
	font-size: 12px;
	color:#777
    margin: 6px 0;
}
.avatars img {
height:35px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
float:left;
margin:3px;
    box-shadow: 3px 3px 5px #CCCCCC;
    -moz-box-shadow: 3px 3px 5px #CCCCCC;
    -webkit-box-shadow: 3px 3px 5px #CCCCCC;
};
.gmnoprint {
	border: 0px;
}
.foursquare{
	height:40px;
	float: left;
}
.checkin {
  background: #EC644B;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  padding: 3px;
  position: absolute;
  right: 20px;
  width: 150px;
}
.connect {
  color: white;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  position: relative;
  top: 10px;
}
