body{
   font :14px "Lucida Grande", Helvetica, Arial, sans-serif;
   margin: 0px;
   paddin: 0px;
}
a{
  color :#00B7FF;
}

.content{
  background-color:#AAA;
}

.chat-box{
  position:fixed;
  border-radius: 30px;
  background-color:#EEE;
  top:80px;
  left:600px;
  width:350px;
}
    #wrapper {
        padding:0px;
    }
    #header {
       margin:0px;
       padding:4px;
       background:url("http://overtweb.com/virtualart/images/gradient.png") repeat-x scroll 0 0 transparent;
	   height:44px;
       position:relative;
       z-index: 100;
       padding: 3px;
    }
    #logo {	
        position:absolute;
        top:0px;
        left:0px;
		height:85px;
        margin:3px 4px;
        display: none;
    }
