body{
  padding :50px;
  font :14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color :#00B7FF;
}

.content{
  background-color:#AAA;
}

.chat-box{
  border-radius:15px;
  background-color:#EEE;
  top:80px;
  left:600px;
  width:350px;
}

